<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">>

<head th:fragment="header(title)">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title th:text="*{title}"></title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/language.js"></script>
</head>

<nav th:fragment="menu" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/products">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/cart}">Cart</a>
                </li>
                <li th:replace="this :: language"></li>
            </ul>
        </div>
    </div>
</nav>

<div th:fragment="footer" class="fixed-bottom">
    Our footer
</div>

<li th:fragment="language" class="nav-item dropdown">
    <a class="nav-link dropdown-toggle"
       href="#"
       id="navbarDropdownMenuLink"
       role="button"
       data-bs-toggle="dropdown"
       aria-expanded="false" th:text="#{lang.options}">
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li><a class="dropdown-item" th:href="${{#httpServletRequest.requestURI}} + '?lang=LT'" th:text="#{lang.lt}"></a></li>
        <li><a class="dropdown-item" th:href="${{#httpServletRequest.requestURI}} + '?lang=DE'" th:text="#{lang.de}"></a></li>
        <li><a class="dropdown-item" th:href="${{#httpServletRequest.requestURI}} + '?lang=EN'" th:text="#{lang.en}"></a></li>
    </ul>
</li>

<a th:fragment="sortColumn(productsPage, name, hasIgnoreCase, sortDown, sortUp, fieldName)"
   th:with="direction=${productsPage.sort.getOrderFor(name)?.direction}"
   th:href="@{/products(sort=${name} + ',' + ${direction?.name() eq 'ASC' ? 'DESC' : 'ASC'} + (${hasIgnoreCase} ? ',ignorecase' : ''))}">
    <span th:text="*{fieldName}"></span>
    <i class="fas"
       th:classappend="${direction?.name() eq 'ASC' ? sortDown : sortUp}"
       th:if="${direction ne null}"></i>
</a>

<div th:fragment="paginator(productsPage)">
    <ul class="pagination"
        th:with="order=${productsPage.sort.iterator().hasNext() ? productsPage.sort.iterator().next() : null},
					sort=${order.property + ',' + order.direction} + (${order.property} eq 'name' ? ',ignorecase' : '')">
        <li class="page-item"
            th:classappend="${productsPage.number eq 0 ? 'disabled' : ''}">
            <a class="page-link"
               th:href="@{/products(page=${productsPage.number} - 1, sort=${sort})}"
               th:text="#{products.previous}"></a>
        </li>

        <li class="page-item"
            th:each="pageNumber : ${#numbers.sequence(0, productsPage.totalPages - 1)}"
            th:classappend="${pageNumber eq productsPage.number ? 'active' : ''}">
            <a class="page-link"
               th:href="@{/products(page=${pageNumber}, sort=${sort})}"
               th:text="${pageNumber} + 1">1</a>
        </li>

        <li class="page-item"
            th:classappend="${productsPage.number eq productsPage.totalPages - 1 ? 'disabled' : ''}">
            <a class="page-link"
               th:href="@{/products(page=${productsPage.number} + 1, sort=${sort})}"
               th:text="#{products.next}"></a>
        </li>
    </ul>

    <span th:text="#{products.total(${productsPage.totalElements})}">Total: 100</span>
</div>

</html>
