.addButton {
    background-color: #54b82a;
    color: #fff;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    padding: 7px 14px;
}
.addButton:hover {
    background-color: #7ad454;
}

