<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: header(#{products.title})">
</head>
<body>

	<div th:if="${not productsPage.hasContent()}" th:text="#{products.empty.list}"></div>
	<div th:if="${productsPage.hasContent()}"
		class="container">
		<table class="table">
			<thead>
			<tr>
				<td th:insert="fragments/layout :: sortColumn(productsPage=${productsPage}, name='name', hasIgnoreCase=true, sortDown='fa-sort-alpha-down', sortUp='fa-sort-alpha-up', fieldName=#{products.name})"></td>
				<td th:insert="fragments/layout :: sortColumn(productsPage=${productsPage}, name='quantity', hasIgnoreCase=false, sortDown='fa-sort-numeric-down', sortUp='fa-sort-numeric-up', fieldName=#{products.quantity})"></td>
				<td th:insert="fragments/layout :: sortColumn(productsPage=${productsPage}, name='price', hasIgnoreCase=false, sortDown='fa-sort-numeric-down', sortUp='fa-sort-numeric-up', fieldName=#{products.price})"></td>
				<td></td>
			</tr>
			</thead>
			<tbody>
				<tr th:each="product: ${productsPage.content}">
					<td><a th:href="@{/products/update(id=${product.id})}" th:text="${product.name}"></a></td>
					<td th:text="${product.quantity}"></td>
					<td th:text="${product.price}"></td>
					<td><a class="btn btn-outline-secondary"
						   role="button"
						   th:href="@{/products/delete(id=${product.id})}"
						   th:text="#{products.delete}"></a></td>
				</tr>
			</tbody>
		</table>

		<div>
			<ul class="pagination"
				th:with="order=${productsPage.sort.iterator().hasNext() ? productsPage.sort.iterator().next() : null},
					sort=${order.property + ',' + order.direction}">
				<li class="page-item"
					th:classappend="${productsPage.number eq 0 ? 'disabled' : ''}">
					<a class="page-link"
					   th:href="@{/products(page=${productsPage.number} - 1, sort=${sort})}"
					   th:text="#{products.previous}"></a>
				</li>

				<li class="page-item"
					th:each="pageNumber : ${#numbers.sequence(0, productsPage.totalPages - 1)}"
				 	th:classappend="${pageNumber eq productsPage.number ? 'active' : ''}">
					<a class="page-link"
					   th:href="@{/products(page=${pageNumber}, sort=${sort})}"
					   th:text="${pageNumber} + 1">1</a>
				</li>

				<li class="page-item"
					th:classappend="${productsPage.number eq productsPage.totalPages - 1 ? 'disabled' : ''}">
					<a class="page-link"
					   th:href="@{/products(page=${productsPage.number} + 1, sort=${sort})}"
					   th:text="#{products.next}"></a>
				</li>
			</ul>

			<span th:text="#{products.total(${productsPage.totalElements})}">Total: 100</span>
		</div>
	</div>

</body>
</html>
