<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{create.product.title}"></title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
    <h3 th:text="#{create.product}"></h3>

    <form method="POST" th:object="${product}">

        <div>
            <ul th:if="${#fields.hasErrors()}" class="error-block">
                <li th:each="error : ${#fields.errors()}" th:text="${error}">Error</li>
            </ul>
        </div>

        <label th:text="#{create.product.name}" th:class="${#fields.hasErrors('name')} ? error"></label>
        <input type="text" placeholder="Name" th:field="*{name}" th:errorclass="error"><br/>
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name errors</p>

        <label th:text="#{create.product.quantity}" th:class="${#fields.hasErrors('quantity')} ? error"></label>
        <input type="text" placeholder="Quantity" th:field="*{quantity}" th:errorclass="error"><br/>
        <ul th:if="${#fields.hasErrors('quantity')}">
            <li th:each="error : ${#fields.errors('quantity')}" th:text="${error}"></li>
        </ul>

        <label th:text="#{create.product.price}" th:class="${#fields.hasErrors('price')} ? error"></label>
        <input type="text" placeholder="Price" th:field="*{price}" th:errorclass="error"><br/>
        <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price errors</p>

        <label th:text="#{create.product.description}" th:class="${#fields.hasErrors('description')} ? error"></label>
        <textarea th:field="*{description}" th:errorclass="error"></textarea><br/>
        <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description errors</p>

        <button type="submit" th:text="#{create.product.submit}"></button>
    </form>

    <span th:text="${now}">2021-10-10</span>

    <div th:if="${success}" th:text="${success}"></div>
</body>
</html>
